/* Hace que el width/heigth incluyan el padding y border*/

* {
    box-sizing: border-box;
    font-family: Roboto;
}


/*  Altura 100% de la ventana */
html, body {
    height: 100%;
}

/* BODY */
body{
    margin: 0; /*Quita margen por defecto del navegador*/
    font-family: Roboto, sans-serif;
    color: #f2f6ff;
    background-color: #111111 ;
    display: flex;
    flex-direction: column; /*divs en columna */
    align-items: center;
    padding: 20px;
}

h1{
    margin: 10px;
    font-size: 60px;
    letter-spacing: 25px;
    color: goldenrod;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    text-shadow: 0 0 10px goldenrod;

}


/*Línea divisoria entre divs*/
hr{
    width: min(720px, 100%); /* Usa el menor entre 720px y 100% y lo pone de ancho */
    border: none;
    height: 5px;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.25), transparent); /*Degradado con transparente - blanco - transparente */
    margin: 14px 0;
}

.saldo, .juego, .apuesta, .mensaje, .premios{
    width: min(720px, 100%);  /* Usa el menor entre 720px y 100% y lo pone de ancho */
}


/* SALDO */
.saldo{
    display: flex; /*divs en fila*/
    gap: 10px;
    flex-wrap: wrap; /*Si no cabe en una linea, baja a la siguiente*/
    align-items: center;
    justify-content: space-between; /*Empuja uno a la izquierda y otro a la derecha*/
    padding: 13px ;
    background-color: black;
    border: 2px solid goldenrod;
    border-radius: 16px;
    box-shadow: 0 0 10px goldenrod; /*Darle efecto neón*/

}


.saldo p{
    margin: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 900;
}



/* JUEGO */

.juego{
    height: 160px;
    border-radius: 16px;
    display: flex;
    font-size: 80px;
    justify-content: center;
    gap: 10px; /*Separación entre los iconos*/
}

.iconos{
    height: 160px; /*Mismo alto que juego*/
    border-radius: 16px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 64px;
    user-select: none; /*Hace que no puedas seleccionar con el raton los emojis*/
    background-color: whitesmoke;
    border: 3px solid gray;
}

.apuesta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.linea-apuesta{
    display: flex; /*Pone label e input en fila y centrados*/
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#bet{ /*Cantidad a apostar*/
    width: 100px;
    padding: 6px 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    border: 2px solid goldenrod ;
    box-shadow: 0 0 10px goldenrod; /*Darle efecto neón*/


}

label{
    font-size: 20px;

}


.botones{
    display: flex;
    gap:20px;
}


#spin{
    color: white;
    font-size: 40px;
    padding: 10px 25px;
    background-color: goldenrod;
    border-radius: 100px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 10px goldenrod; /*Darle efecto neón*/

}

.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#message{
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 12px 16px;
    border-radius: 14px;
    border: 2px solid goldenrod;
    font-weight: 900;
    box-shadow: 0 0 10px goldenrod; /*Efecto neón*/
    background-color: black;
}

.premios{
    margin-top: 10px;
    padding: 14px 16px;
    border-radius: 16px;
    border: 2px solid goldenrod;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 10px goldenrod; /*Darle efecto neón*/

}

.premios h3{
    margin: 0 0 10px;
    color: white;
    font-weight: 900;
}

.premios ul{
    list-style: none; /*Que no salgan los puntos de lista*/
    padding: 0;
    margin: 0;
}

.premios li{
    padding: 6px 0;
    font-weight: 700;
}

.botonNegro{
    color: white;
    font-size: 40px;
    padding: 10px 25px;
    background-color: black;
    border-radius: 100px;
    margin-bottom: 20px;
    margin-top:20px;
    border: none;
    box-shadow: 0 0 10px black; /*Darle efecto neón*/
}